{{!-- <div class="text-center">
  <h2>{{user.name}}'s Expenses for the Year</h2>
  <!-- Loop over each object in the expenses array -->
  {{#each expenses as |expense|}}
    <p>
      {{format_date expense.date}}:
      {{expense.category}},
      <strong>$ {{expense.amount}}</strong>
      {{expense.user_id}}
    </p>
  {{/each}}
</div> --}}